/* Include the padding and border in an element's total width and height */
body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
h1{
  color: aliceblue;
  font-family: Helvetica;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 50px;
}

h2{
  color: aliceblue;
  font-family: Helvetica;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 90px;
}
.container {
  height: 400px;
  align-content: center;
  justify-content: center;
  
}

.center {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 2px solid rgb(105, 96, 96);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
  width: 300px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  
}

.button2{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(57, 51, 75);
  color: rgb(255, 255, 255);
  padding: 10px 90px;
  width: 530px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.button2:hover{
  background-color: rgb(29, 17, 59);
  color: rgb(255, 255, 255);
}
