    h1{
        color: #000000;
        font-family:Arial, Helvetica, sans-serif;
        margin-top: auto;
      }

      h2{
        color: #ffffff;
        font-size: 60%;
        font-weight: bold;
        text-align: center;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 2;
      }
      body {
        background-color: #000000;
      }
      form {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 50px;
        max-width: 480px;
        margin: 0 auto;
        border-radius: 30px;
        z-index: 1;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="text"], input[type="password"], input[type="email"] {
        padding: 5px;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
        border: 2px solid black;
        
      }
      .email-custom-class{
        padding: 5px;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
        border: 2px solid black;
      }
      input[type="submit"] {
        background-color: #3b6cc7;
        color: #fff;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #3e8e41;
      }
      .circle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        animation: expand 1s forwards;
        z-index: -1;
      }
      button{
        background-color: #3b6cc7;
        color: #fff;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      button:hover{
        background-color: #3e8e41;
      }
      .text {
        color: #1a1a1a;
        font-size: 60%;
        font-weight: bold;
        text-align: center;
        padding-top: 35%;
        padding-right: 55%;
      }
      @keyframes expand {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(20);
          opacity: 40;
        }
      }
