<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="zung.css">
  <title>Quien</title>
  
</head>
<body>
  <h1> {user_name} para conocerte más, tendremos que hacerte unas preguntas...</h2>
  <div class="button-container">
    <ul>
      <li><button class="sig">Siguiente</button></li>            
    </ul>
  </div>

</body>
</html>