<!DOCTYPE html>
<html lang="en">
  
<head>
  {% load static %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/frontend/css/zung.css' %}">
  <title>Escala de Zung Preguntas</title>
  
</head>
    <head>
    </head>
    <body>
      

        <h1> ¿Siento que estoy nervioso(a) o tenso(a)?</h1>
        <div class="button-container">
            <ul>
              <li><button>Todo el tiempo</button></li>
              <li><button>La mayoría del tiempo</button></li>
              <li><button>Raramente</button></li>
              <li><button>Nunca</button></li>
                          
            </ul>
          </div>
          <h1> ¿Me siento inquieto(a) o agitado(a)?</h1>
          <div class="button-container">
              <ul>
                <li><button>Todo el tiempo</button></li>
                <li><button>La mayoría del tiempo</button></li>
                <li><button>Nunca</button></li>
                       
              </ul>
            </div>      
            
            <h1>¿Me preocupo por cosas sin importancia?</h1>
            <div class="button-container">
                <ul>
                  <li><button>Todo el tiempo</button></li>
                  <li><button>La mayoría del tiempo</button></li>
                  <li><button>Raramente</button></li>
                  <li><button>Nunca</button></li>
                                      
                </ul>
              </div>
              <h1> ¿Tengo la boca seca o siento un nudo en la garganta?</h1>
              <div class="button-container">
                  <ul>
                    <li><button>Todo el tiempo</button></li>
                    <li><button>La mayoría del tiempo</button></li>
                    <li><button>Nunca</button></li>
                                    
                  </ul>
                </div>  
                <h1> ¿Tengo temblores en las manos?</h1>
                <div class="button-container">
                    <ul>
                      <li><button>Todo el tiempo</button></li>
                      <li><button>La mayoría del tiempo</button></li>
                      <li><button>Raramente</button></li>
                      <li><button>Nunca</button></li>
                                   
                    </ul>
                  </div>

                  <h1>¿Me siento mareado(a) o tengo vértigo?</h1>
                  <div class="button-container">
                      <ul>
                        <li><button>Todo el tiempo</button></li>
                        <li><button>La mayoría del tiempo</button></li>
                        <li><button>Nunca</button></li>
                                
                      </ul>
                    </div>   

                    <h1> ¿Sufro de dolores de cabeza frecuentes?</h1>
                    <div class="button-container">
                        <ul>
                          <li><button>Todo el tiempo</button></li>
                          <li><button>La mayoría del tiempo</button></li>
                          <li><button>Raramente</button></li>
                          <li><button>Nunca</button></li>
                                     
                        </ul>
                      </div>
                      <h1> ¿Siento hormigueo o entumecimiento en algunas partes del cuerpo?</h1>
                      <div class="button-container">
                          <ul>
                            <li><button>Todo el tiempo</button></li>
                            <li><button>La mayoría del tiempo</button></li>
                            <li><button>Nunca</button></li>
                                   
                          </ul>
                        </div>  
                        
                        <h1>  ¿Tengo dificultades para respirar o siento falta de aire?</h1>
                        <div class="button-container">
                            <ul>
                              <li><button>Todo el tiempo</button></li>
                              <li><button>La mayoría del tiempo</button></li>
                              <li><button>Raramente</button></li>
                              <li><button>Nunca</button></li>
                                          
                            </ul>
                          </div>
                          <h1> ¿Sufro de sofocos o sudores nocturnos?</h1>
                          <div class="button-container">
                              <ul>
                                <li><button>Todo el tiempo</button></li>
                                <li><button>La mayoría del tiempo</button></li>
                                <li><button>Nunca</button></li>
                                       
                              </ul>
                            </div>      
                            
                            <h1>¿Tengo dificultades para dormir o me despierto temprano?</h1>
                            <div class="button-container">
                                <ul>
                                  <li><button>Todo el tiempo</button></li>
                                  <li><button>La mayoría del tiempo</button></li>
                                  <li><button>Raramente</button></li>
                                  <li><button>Nunca</button></li>
                                                      
                                </ul>
                              </div>
                              <h1>. ¿Sufro de diarrea o necesito ir con frecuencia al baño?</h1>
                              <div class="button-container">
                                  <ul>
                                    <li><button>Todo el tiempo</button></li>
                                    <li><button>La mayoría del tiempo</button></li>
                                    <li><button>Nunca</button></li>
                                                    
                                  </ul>
                                </div>  
                                <h1> ¿Sufro de molestias estomacales, náuseas o vómitos?</h1>
                                <div class="button-container">
                                    <ul>
                                      <li><button>Todo el tiempo</button></li>
                                      <li><button>La mayoría del tiempo</button></li>
                                      <li><button>Raramente</button></li>
                                      <li><button>Nunca</button></li>
                                                   
                                    </ul>
                                  </div>
                
                                  <h1>¿Tengo dificultades para concentrarme?</h1>
                                  <div class="button-container">
                                      <ul>
                                        <li><button>Todo el tiempo</button></li>
                                        <li><button>La mayoría del tiempo</button></li>
                                        <li><button>Nunca</button></li>
                                                
                                      </ul>
                                    </div>   
                
                                    <h1>¿Tengo la mente en blanco o me siento confundido(a)?</h1>
                                    <div class="button-container">
                                        <ul>
                                          <li><button>Todo el tiempo</button></li>
                                          <li><button>La mayoría del tiempo</button></li>
                                          <li><button>Raramente</button></li>
                                          <li><button>Nunca</button></li>
                                                     
                                        </ul>
                                      </div>
                                      <h1> ¿Tengo miedo o me siento asustado(a)?</h1>
                                      <div class="button-container">
                                          <ul>
                                            <li><button>Todo el tiempo</button></li>
                                            <li><button>La mayoría del tiempo</button></li>
                                            <li><button>Nunca</button></li>
                                                   
                                          </ul>
                                        </div>                  

                                        <h1>¿Me siento desesperado(a) o desamparado(a)?</h1>
                                        <div class="button-container">
                                            <ul>
                                              <li><button>Todo el tiempo</button></li>
                                              <li><button>La mayoría del tiempo</button></li>
                                              <li><button>Raramente</button></li>
                                              <li><button>Nunca</button></li>
                                                         
                                            </ul>
                                          </div>
                                          <h1> ¿Siento que nada me da placer o que la vida no tiene sentido?</h1>
                                          <div class="button-container">
                                              <ul>
                                                <li><button>Todo el tiempo</button></li>
                                                <li><button>La mayoría del tiempo</button></li>
                                                <li><button>Nunca</button></li>
                                                       
                                              </ul>
                                            </div>                                         
    </body>
</html>