<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="preguntas.css">
  <title>Frecuencia</title>
  
</head>
<body>
  <h1> ¿Durante el ultimo mes con qué frecuencia has estado afectado/a por algo que ha ocurrido inesperadamente?</h1>
  <div class="container">
    <div class=" vertical center">
  <button class="button">Casi siempre</button>
<br><br>
  <button class="button">Frecuentemente</button>
<br><br>
<button class="button">De vez en cuando</button>
<br><br>
  <button class="button">Casi nunca</button>
<br><br><br><br>
  <button class="button2">Siguiente</button>

</div>
</div>
</body>
</html>