<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/frontend/css/preguntas.css' %}?{% now "U" %}">
  <script src="{% static 'frontend/encuesta.js' %}"></script>

  <title>Frecuencia</title>
</head>
<body>
  <form method="POST" action="{% url 'encuesta' pregunta_id=pregunta.id %}">
    {% csrf_token %}
    <h1>{{ pregunta.texto }}</h1>
    <div class="container">
      <div class="vertical center">
        <label for="respuesta_5" class="custom-radio">
          <input type="radio" name="respuesta" value="5" id="respuesta_5" style="display: none;">
          <div class="button">
            Siempre o casi siempre
          </div>
        </label>
        <br><br>
        <label for="respuesta_4" class="custom-radio">
          <input type="radio" name="respuesta" value="4" id="respuesta_4" style="display: none;">
          <div class="button">
            Casi siempre
          </div>
        </label>
        <br><br>
        <label for="respuesta_3" class="custom-radio">
          <input type="radio" name="respuesta" value="3" id="respuesta_3" style="display: none;">
          <div class="button">
            Frecuentemente
          </div>
        </label>
        <br><br>
        <label for="respuesta_2" class="custom-radio">
          <input type="radio" name="respuesta" value="2" id="respuesta_2" style="display: none;">
          <div class="button">
            A veces
          </div>
        </label>        <br><br>
        <label for="respuesta_1" class="custom-radio">
          <input type="radio" name="respuesta" value="1" id="respuesta_1" style="display: none;">
          <div class="button">
            Nunca o casi nunca
          </div>
        </label>
        <br><br><br><br>
        <button class="button2" type="submit">Siguiente</button>
      </div>
    </div>
  </form>
</body>
</html>