<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="preguntas.css">
  <title>Quien</title>
  
</head>
<body>
  <h1> ¿Para quién planeas usar {nombre_proyecto}?</h1>

  <div class="container">
    <div class=" vertical center">
  <button class="button">Para mí</button>
<br><br>
  <button class="button">Para alguien cercano a mí</button>
<br><br><br><br>
  <button class="button2">Siguiente</button>
</div>
</div>
</body>
</html>