<!DOCTYPE html>
<html>
<head>
    <title>LotusMind</title>
    {% load static %}
<link type="text/css" rel='stylesheet' href="{% static '/frontend/css/Perfil_Usuario_Lotusmind.css' %}">
</head>
<body>
    
<div>
<img class="buscadorimg" src=""{% static '/frontend/figuras/buscador.png' %}"">
<input class="buscador-box" type="text" placeholder="Buscar">
</div>


<div class="fondo-1">
<img class="logo" src="{% static '/frontend/figuras/logo-LotusMind.png' %}">LotusMind</div>


<div class="fondo-2">
    <img class="imagen-2" src="{% static '/frontend/figuras/imagen-2.png' %}">
    <p class="nombre-usuario">Andrea Chavarria Hernandez</p> 
    <button class="Log-out">Cerrar Sesión</button> <button class="delet-count">Borrar Cuenta</button>
</div>



<div class="fondo-3">
    <p class="texto-1">¡Comenzemos a controlar tus niveles ansiedad y estres registrandolos diariamente!</p>
</div>

<div><button class="progreso">Mi Progreso</button> <button class="historial">Historial</button></div>

<div>
<button class="mi-cuenta">Mi Cuenta</button>
<button class="revision">Empezar Revisión</button>
</div>
</body>
</html>