<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	{% load static %}

	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a722547376.js" crossorigin="anonymous"></script>
    <title>LotusMind</title>
    <link href="{% static '/frontend/css/Perfil_Usuario_Lotusmind.css' %}?{% now "U" %}" rel="stylesheet" type="text/css">
</head>
<body>
    
	<input type="checkbox" id="check">
    	<nav>
        <div class="icon"><a href ="{% url 'index'%}" style="text-decoration: none;color: white;">LotusMind<img src="{% static '/frontend/figuras/LOTUSLGO.svg' %}" width="80px" alt=""></a></div>
      	<div class="search-box">
   			<button class="btn-search"><i class="fas fa-search"></i></button>
    			<input type="text" class="input-search" placeholder="Type to Search...">
  			</div>
      <ul>
		<li><a href="{% url 'index'%}">Menu</a></li>
		<li><a href ="{% url 'resultado_encuesta'%}">Mi progreso</a></li>
		<li><a href="#">Ayuda</a></li>
		<li><a href="#">Contactanos</a></li>
		<li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>

<div class="fondo-2">
	<div class = "contenedor">
		<span class="circle"></span>
	    <img class = "imagen-2" src= "{% static '/frontend/figuras/usuario.svg' %}" alt=""/>
	</div>
    <p class="nombre-usuario">{{ request.user.username }}</p> 
    <button class="Log-out"  onclick="location.href='{% url 'logout' %}'" >Cerrar Sesión</button> <button class="delet-count">Borrar Cuenta</button>
</div>
	<div class = "botonesdecuenta">
		<div id ="columna1">
			<div class = "botones">
				<button class="mi-cuenta" onclick="location.href='{% url 'resultado_encuesta' %}'">Mi progreso</button>
				<button class="mi-cuenta" onclick="location.href='{% url 'historial' %}'">Historial</button>
				<button class="mi-cuenta">Mi cuenta</button>
			</div>
		</div>
		<div id ="columna2">
			<div class = "botonesrevision">
				<div class="textorevision"><strong>Comenzemos a controlar tus niveles ansiedad y estres registrandolos diariamente </strong></div>
				<button class="Empezar revision" onclick="location.href='{% url 'empezarencuesta' %}'">Empezar Revisión</button>
			</div>
		</div>
	</div>
</body>
</html>