<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agobio</title>
    <script src="./Js/button.js"></script>
    <script src="https://kit.fontawesome.com/a722547376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{% static '/frontend/css/modulo.css' %}?{% now "U" %}">
</head>
<body>

    <input type="checkbox" id="check">
    <nav>
        <div class="icon"><a href ="{% url 'index'%}" style="text-decoration: none; color: white;">LotusMind<img src="{% static '/frontend/figuras/LOTUSLGO.svg' %}" width="80px" alt=""></a></div>
      <div class="search-box">
   		<button class="btn-search"><i class="fas fa-search"></i></button>
    		<input type="text" class="input-search" placeholder="Type to Search...">
  			</div>
      <ul>
            <li><a href="{% url 'miusuario'%}">Mi usuario</a></li>
            <li><a href="#">Caminar</a></li>
            <li><a href="#">Dormir</a></li>
            <li><a href="#">Estres</a></li>
            <li><a href="#">Relajación</a></li>
        </ul>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
<div class="banner">
	<div class = "contenedordeimagen">
		<figure class="cuadro" style="background-color: {{ recurso.color_hexadecimal }};">&nbsp;</figure>
        {% if recurso_anterior %}
		<a href="{% url 'sigrecurso' nombre_mod=nombre_mod nombre_rec=recurso_anterior.nombre_rec %}"><img src="{% static '/frontend/figuras/Atras.svg' %}" alt="" class="imgatras"/> 
        {% else %}
		<a href="{% url "index" %}"><img src="{% static '/frontend/figuras/Atras.svg' %}" alt="" class="imgatras"/> 
        {% endif %}
            <img src="{{'/LotusMind'|add:recurso.imagen.url }}" alt="" class="imagenrecurso"/></a>
	</div>
    <div class="content">
        <h1 class="Titulo">{{recurso.nombre_rec}}</h1>
        <h2 class = "tipoyduracion">{{recurso.tipo}}·{{recurso.tiempo_recurso}} min</h2>
        <p class="textorec"><strong>{{recurso.descripcion}}</strong></p>
        <a class="Comenzar" href="#" onclick="toggle()" > <strong> Comenzar </strong> </a>
    </div>
</div>
	<div class = "barradesiguiente">
  		<div class = "contenedorsiguiente">
            <a href="{% url 'sigrecurso' nombre_mod=modulo.nombre_mod nombre_rec=recurso_siguiente.nombre_rec %}" ><img src="{% static '/frontend/figuras/Adelante.svg' %}" alt="" class="simboloadelante"/></a>
            <figure class="cuadropequeno"  style="background-color: {{ recurso_siguiente.color_hexadecimal }};">&nbsp;</figure>
		  <img src= "{{'/LotusMind'|add:recurso_siguiente.imagen.url}}" alt="" class="imagensiguiente"/>
			<div class ="textosiguiente"><strong>Siguiente:<br> {{ recurso_siguiente.nombre_rec }}</strong></div>
	  </div> 
	</div>
<footer class="pie-de-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static '/frontend/figuras/LOTUSLGO.svg' %}" alt="Logo LotusMind">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>ABOUT US</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, perferendis!</p>
            </div>
            <div class="box">
                <h2>Siguenos en nuestras redes sociales:</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            <div class="box">
                <h2>Otras opciones</h2>
                <div><a href="#">Contactanos</a></div>
                <div><a href="#">FAQ</a></div>
                <div><a href="#">ETC</a></div>
            </div>
        </div>
    </footer>

</body>
</html>