<!DOCTYPE html>

<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/frontend/css/register.css' %}?{% now "U" %}">

    <title>Registro</title>
    
<body>
  <body>
    <h1>Registro de usuario</h1>
    <div class="circle"></div>
    <form method="post">
      {% csrf_token %}
      <label for="id_username">Usuario:</label>
      {{ form.username }}
      {{ form.username.errors }}
  
      <label for="id_email">Correo electrónico:</label>
      {{ form.email }}
      {{ form.email.errors }}
  
      <label for="id_password1">Contraseña:</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
  
      <label for="id_password2">Confirma tu contraseña:</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
      
      <button type="submit">Registrarse</button>
    </form>
    <h2>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></h2>
  </body>
</html>
