<!DOCTYPE html>

<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static '/frontend/css/register.css' %}?{% now "U" %}">

    <title>Registro</title>
    
<body>
  <body>
    <h1>Registro de usuario</h1>
    <div class="circle"></div>
    <form method="post">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}

      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}

      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}

      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
      <button style ="botonsubmit" type="submit">Registrarse</button>
    </form>
    <h2>Ya tienes una cuenta? <a href="{% url 'login'%}">Inicia sesión</a></h2>
  </body>
</html>
